.clock {
  margin-top: 150px;
  font-weight: 700;
}

.clock .clock_time {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.clock .clock_day {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
}

.clock .clock_hours {
  font-size: 120px;
  margin-right: 20px;
}

.clock .clock_minutes {
  font-size: 120px;
  margin-right: 10px;
}

.clock .clock_seconds {
  font-size: 70px;
}
