.clock {
  margin-top: 40px;
}

.clock .clock_time {
  display: flex;
  align-items: flex-end;
}

.clock .clock_day {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 24px;
  font-style: italic;
}

.clock .clock_hours,
.clock .clock_minutes {
  font-size: 60px;
  margin-right: 10px;
}

.clock .clock_seconds {
  font-size: 40px;
}
