@import "clock.css";
@import "reset.css";
@import "askName.css";
@import "toDos.css";

header {
  margin: 50px;
  font-size: 80px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
