@import "clock.css";
@import "reset.css";
@import "askName.css";
@import "toDos.css";
@import "bgImg.css";
@import "setting.css";
@import "settingClock.css";

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(0.25turn, #ff512f, #dd2476);
}

body .main-colume {
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
}

.hiding {
  display: none;
}

.selected {
  font-weight: 900;
}
