.toDos {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.toDos .toDos_form input {
  font-size: 22px;
  font-weight: 700;
  width: 250px;
  height: 20px;
  padding: 10px 10px;
  border: none;
  outline: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.toDoList_toDo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.toDoList .toDoList_toDo .toDoList_text {
  font-size: 24px;
  font-weight: 600;
  width: 500px;
}

.toDoList_toDo .toDoList_delBtn {
  color: #ff5d48;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

.toDoList_toDo .toDoList_emoji {
  margin-right: 10px;
  font-size: 20px;
}
